*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 113px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    cursor: pointer;
    padding: 4px;
}
.logo{
    background-image: url("image/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.add-1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.nav-icon-address{
    display: flex;
    align-items: center;
}
.nav-icon-address p{
    font-size: 1rem;
    margin-left: 3px;
}
.search-box{
    width: 880px;
    height: 41px;
    /* background-color: blue; */
    /* padding: 10px 4px 10px 3px; */
    /* margin: 0px 10px; */
    border-radius: 5px;
    display: flex;
}
.search-box:hover{
    border: 2px solid orange;
}
.search-box select{
    background-color: #f3f3f3;
    width: 48px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding-left: 5px;
    font-size: 15px;
}
.search-box input{
    font-size: 1rem;
    width: 100%;
    border: none;
    padding-left: 8px;
    letter-spacing: 0.8px;
    word-spacing: 2px;
}
.search-box-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    background-color: #febd69;
    /* height: 40px; */
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.555);
    padding: 1px 6px 1px 7px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-sign-in p{
    font-size: 0.8rem;
    /* letter-spacing: 1px; */
}
.nav-sign-in .bold{
    font-weight: 700;
    font-size: 0.85rem;
}
.nav-return p{
    font-size: 0.8rem;
}
.nav-return .bold{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel-options p{
    display: inline-block;
    margin-left: 15px;
}
.panel-options{
    width: 70%;
    font-size: 0.88rem;
    font-weight: 500;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-sec{
    background: url("image/hero_image.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.632);
    color: black;
    height: 38px;
    font-size: 0.9rem;
    margin-bottom: 30px;
    width: 90%;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}
.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #87c4c746;
}
.box{
    height: 400px;
    width: 23%;
    border: 2px solid black;
    background-color: white;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    border: none;
}
.box-input{
    height: 92%;
    width:90%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-input p{
    font-size: 20px;
    font-weight: 800;
    color: rgba(35, 35, 35, 0.886);
}
.box-img{
    width: 100%;
    height: 82%;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-input a{
    color:#007185 ;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}
footer{
    margin-top: 15px;
}
.footer1{
    height: 45px ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#37475a;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}
.footer2{
    display: flex;
    background-color: #222f3d;
    justify-content: space-evenly;
    padding-top: 15px;
    text-transform: capitalize;
    padding-bottom: 3rem;
}
.footer2 ul a{
display:block;
color: #ddddddde;
text-decoration: none;
cursor: pointer;
font-weight: 500;
font-size: 0.9rem;
margin-top: 7px;
letter-spacing: 0.6px;
}
.footer2 p{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.footer3{
    border-top: 1px solid rgba(255, 255, 255, 0.119);
    background-color: #222f3d;
    /* border: 3px dotted red; */
    height: 8rem;
    display: flex;
    justify-content: center;
}
.footer3 .insert{
    width: 50%;
    /* border: 3px dashed white ; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .f-l{
    background-image: url("../image/amazon_logo.png");
    width: 80px;
    height: 80px;
    background-size: cover;
} */
.f3{
    width: 22%;
    border: 0.5px solid rgba(255, 255, 255, 0.443);
    color: #ffffffb5;
    text-align: inherit;
    padding: 5px 15px 5px 10px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}
.f-l{
    background: url(../image/amazon_logo.png);
    width: 16%;
    height: 50%;
    background-size: cover;
    border: none;
}
.us{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.u-i{
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/383px-Flag_of_the_United_States.svg.png);
    background-size: cover;
    width: 35px;
    height: 16px;
}
.usd i , .eng i{
    margin-right: 5px;
}
.footer4{
    height: 70vh;
    width: 100%;
    background-color: #131A22;
}
.table{
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tbody{
    width: 99%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tr{
    height: 18%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.td{
    height: 100%;
    width: 12%;
}
.tr5{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.tr5 .td{
width: 29%;
}
.td a{
    color: #999;
    text-decoration: none;
    font-size: 13px;
}
.td a:hover{
    text-decoration: underline;
}
.td a strong{
    color: #ddd;
    display: block;
}
.copyright{
    height: 8vh;
    width: 100%;
    background-color: #131A22;
}
.insert-c{
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    color: #ddd;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.a a{
    color: #ddd;
    text-decoration: none;
}
.a a:hover{
    text-decoration: underline;
}
